 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
/*   width: 50%; */
}

.py-5 {
  padding-top: 3rem !important;
}

.bg-dark {
  background-color: #f5f5f5 !important;
}

.container2 {
  min-width: 992px !important;
}

.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.m-02 {
  margin: 0 !important;
}

.text-center2 {
  text-align: center !important;
}

.text-footer {
  color: #f5f5f5 !important;
}

h4, h5{
    color: #404040;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}​

#map {
	height:600px;
    width:100%;
}

.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 370px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed2 thead {
  width: 100%;
}
.table-fixed2 tbody {
  height: 375px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed2 thead, .table-fixed2 tbody, .table-fixed2 tr, .table-fixed2 td, .table-fixed2 th {
  display: block;
}
.table-fixed2 tbody td, .table-fixed2 thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed2 td {
	white-space: nowrap;
  	overflow-x: hidden;
  	text-overflow: ellipsis;
}

.table-fixed3 thead {
  width: 100%;
}
.table-fixed3 thead, .table-fixed3 tbody, .table-fixed3 tr, .table-fixed3 td, .table-fixed3 th {
  display: block;
}
.table-fixed3 tbody {
  height: 810px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed3 td {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.table-fixed3 tbody td, .table-fixed3 thead > tr> th {
  float: left;
  border-bottom-width: 0;
}


.table-fixed4 thead {
  width: 100%;
}

.table-fixed4 thead, .table-fixed4 tbody, .table-fixed4 tr, .table-fixed4 td, .table-fixed4 th {
  display: block;
}
.table-fixed4 tbody {
  height: 410px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed4 td {
	white-space: nowrap;
  	overflow-x: hidden;
  	text-overflow: ellipsis;
}
.table-fixed4 tbody td, .table-fixed4 thead > tr> th {
  float: left;
  border-bottom-width: 0;
}


.red{
  background-color: rgb(255, 0, 0);
  value: 'NOT OK';
}

.green{
  background-color: rgb(0, 255, 0);
  value: 'OK',
}
