<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ESGF Console</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    
    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="style.css"/>
        
    <style>
    	#map { height: 500px }
    	#map-canvas { height: 500px }
    	
    	.cmip5_pie {
        	height: 500px
     	}
     	
     	.donut_histogram {
           height: 600px
        }
        
/* /*   .donut-legend > span {
/* 		  display: inline-block; */
		  margin-right: 25px;
		  margin-bottom: 10px;
		  font-size: 13px;
		  height: 500px
		} */ */
        
    </style>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBTmNhvrvRNdIleOzASNWxPa1wbnAEvA9E"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script> 

    <script src="../js/cmip5script.js"></script> 

</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-home fa-fw"></i>ESGF Console</a>
            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Statistics overview</a>
                        </li>
                        <li>
                            <a href="cross-project.html"><i class="fa fa-bar-chart-o  fa-fw"></i> Cross-project statistics</a>
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-th-list fa-fw"></i> Project-specific statistics<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">                          
                                <li>
                                    <a href="cmip5.html"><i class="fa fa-files-o  fa-fw"></i> CMIP5 project</a>
                                </li>
<!--                                 <li>
                                    <a href="cordex.html"><i class="fa fa-files-o  fa-fw"></i> CORDEX project</a>
                                </li> -->
                                <li>
                                    <a href="obs4mips.html"><i class="fa fa-files-o  fa-fw"></i> Obs4MIPs project</a>
                                </li>
                            </ul>
                        </li>
                        
<!--                         <li>
                            <a href="clients-stats.html"><i class="fa fa-desktop  fa-fw"></i> Clients statistics</a>
                        </li> -->
                        
<!--                         <li>
                            <a href="historical.html"><i class="fa fa-bar-chart-o  fa-fw"></i> Historical data usage statistics</a>
                        </li> -->
                        
                        <li>
                            <a href="data-archive.html"><i class="fa fa-archive  fa-fw"></i> Federated data archive</a>
                        </li>
                        
                        <li>
                            <a href="isenes-kpi.html"><i class="fa fa-bar-chart-o  fa-fw"></i> IS-ENES2 KPIs</a>
                        </li>
                        
<!--                         <li>
                            <a href="service-status.html"><i class="fa fa-sitemap  fa-fw"></i> Service status</a>
                        </li>
 -->
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper" data-ng-app="">
        	<div class="container-fluid">
                <div class="row" data-ng-controller="loadcmip5">
                    <div class="col-lg-12">
                        <h1 class="page-header">CMIP5 project</h1>
                        
                        <div class="col-lg-12 col-md-12">
	                    	 <div class="pull-right">
	                             <label>Measure: </label>
	                             <select class="form-control" id= "measure-select" ng-options="obj.val as obj.txt for obj in slctOptions3"
	                             		ng-change="update2()" ng-model="slctItem3">
	                             </select>
	                         </div>
	                         
	                         <div class="pull-right">
	                             <label>Data node: </label>
	                             <select class="form-control" ng-model="slctItem4" ng-options="datanode as datanode.name for datanode in datanodes" 
	                             	ng-change="update2()"></select>
	                             </select>
	                         </div> 

<!--                         	 <div class="pull-right">
	                             <label>To: </label>
	                             <select class="form-control" id= "to-select" ng-options="obj.val as obj.txt for obj in slctOptions2"
	                             		ng-change="update()" ng-model="slctItem2">
	                             </select>
	                         </div> 
	                         <div class="pull-right">
	                             <label>From: </label>
	                             <select class="form-control" id= "from-select" ng-options="obj.val as obj.txt for obj in slctOptions1"
	                             		ng-change="update()" ng-model="slctItem1">
	                             </select>
	                         </div>   -->
					    </div>
					    
					    <div class="col-lg-12 col-md-12">
					    	<br>
					    	<br>
					    	<br>
					    	<br>
					    	
					    	<div class="col-lg-8 col-md-8">
			                    <div class="panel panel-green">
			                        <div class="panel-heading">
			                            <i class="fa fa-files-o fa-fw"></i> Top ten datasets
			                        </div>
			                        <div class="panel-body" style="height: 430px" >
			                        	<table class="table table-fixed2" id="tableexample">
		                                    <thead>
		                                        <tr class="info">
		                                            <th class="col-xs-1">#</th>
		                                            <th class="col-xs-8">Dataset name</th>
		                                            <th class="col-xs-2">Version</th>
		                                            <th class="col-xs-1">Value</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody id="datasetTable">
		                                    	<tr ng-repeat="a in datasetRows">
		                                    	    <td class="col-xs-1">{{$index + 1}}</td>
		                                    		<td class="col-xs-8">{{a.dimension}}</td>
		                                    		<td class="col-xs-2">{{a.dataset_version}}</td>
		                                    		<td class="col-xs-1">{{a.measure}}</td>
		                                    	</tr>
		                                    </tbody>
		                                 </table>
			                        </div>
			                    </div>
		                	</div>
			                <div class="col-lg-4 col-md-4">
			                    <div class="panel panel-yellow" >
			                        <div class="panel-heading">
			                            <i class="fa fa-files-o fa-fw"></i> Top ten experiments
			                        </div>
			                        <div class="panel-body" style="height: 430px">
		                                 <table class="table table-fixed2" >
		                                    <thead>
		                                        <tr class="info">
		                                        	<th class="col-xs-1">#</th>
		                                            <th class="col-xs-7">Experiment</th>
		                                            <th class="col-xs-4">Value</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody id="sourceTable">
	 	                                    	<tr ng-repeat="e in experimentRows">
	 	                                    		<td class="col-xs-1">{{$index + 1}}</td>
		                                    		<td class="col-xs-7">{{e.dimension}}</td>
		                                    		<td class="col-xs-4">{{e.measure}}</td>
		                                    	</tr>
		                                    </tbody>
		                                 </table>
			                        </div>
			                    </div>
			                </div>
			                
 			                <div class="col-lg-12 col-md-12">
			                    <div class="panel panel-red">
			                        <div class="panel-heading">
			                            <i class="fa fa-files-o fa-fw"></i> All downloaded variables
			                        </div>
			                        
			                        <div class="panel-body" style="height: 500px">
 										<table class="table table-fixed4">
		                                    <thead>
		                                        <tr class="info">
		                                        	<th class="col-xs-1">#</th>
		                                            <th class="col-xs-4">Variable long name</th>
		                                            <th class="col-xs-2">Variable code</th>
		                                            <th class="col-xs-4">CF standard name</th>
		                                            <th class="col-xs-1">Value</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody id="variableTable">
	 	                                    	<tr ng-repeat="e in variableRows">
	 	                                    		<td class="col-xs-1">{{$index + 1}}</td>
		                                    		<td class="col-xs-4">{{e.variable_long_name}}</td>
		                                    		<td class="col-xs-2">{{e.dimension}}</td>
		                                    		<td class="col-xs-4">{{e.cf_standard_name}}</td>
		                                    		<td class="col-xs-1">{{e.measure}}</td>
		                                    	</tr>
		                                    </tbody>
		                                 </table>
			                        </div>
			                    </div>
			                </div>
			                
			                <div class="col-lg-12 col-md-12">
			                    <div class="panel panel-primary">
			                        <div class="panel-heading">
			                            <i class="fa fa-files-o fa-fw"></i> Top twenty downloaded variables
			                        </div>
			                        
			                        <div class="panel-body" style="height: 650px">
			                        	<div class="col-lg-7 col-md-7">	
	                          				<div id="morris-donut-chart" class="donut_histogram"></div>
	                         			 </div>	
	                          			 <div class="col-lg-5 col-md-5">
	                          				<div id="legend" class="donut-legend"></div>
							  			 </div>

			                        </div>
			                    </div>
			                </div>
			                 
			                <div class="col-lg-12">                        
			                     <div class="panel panel-yellow">
			                        <div class="panel-heading" id="panel-experiment">
			                            <i class="fa fa-files-o fa-fw"></i> Number of downloads by experiment
			                        </div>
			                        <div class="panel-body">  
										<div id="experimentPanel"></div>
			                        </div>
			                    </div>
		                    </div>
<!-- 		                    <div class="col-lg-12">                        
			                     <div class="panel panel-red">
			                        <div class="panel-heading" id="panel-experimentpie">
			                            <i class="fa fa-files-o fa-fw"></i> Number of downloads by experiment (Pie Chart)
			                        </div>

				                    <div class="cmip5_pie">  
										 	  									
								        <div class="col-sm-12">
										    <div class="flot-chart">
										    <br>
										    <br>
	                                			<div class="flot-chart-content" id="experimentPanelPie" ></div>
	                            			</div>
								        </div>									   
									
			                        </div>
			                    </div>
		                    </div> -->
		                    
<!-- 		                    <div class="col-lg-12">                        
			                     <div class="panel panel-primary">
			                        <div class="panel-heading" id="panel-experiment2">
			                            <i class="fa fa-files-o fa-fw"></i> Number of downloads by experiment
			                        </div>
			                        <div class="panel-body">  
										<div id="experimentPanel2"></div>
			                        </div>
			                    </div>
		                    </div> -->
					    	
						</div>
                    </div>
                </div>
        	</div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    
    <!-- Flot Charts JavaScript -->
    <script src="../vendor/flot/excanvas.min.js"></script>
    <script src="../vendor/flot/jquery.flot.js"></script>
    <script src="../vendor/flot/jquery.flot.pie.js"></script>
    <script src="../vendor/flot/jquery.flot.resize.js"></script>
    <script src="../vendor/flot/jquery.flot.time.js"></script>
    <script src="../vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>

</body>

</html>
