<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ESGF Console</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBTmNhvrvRNdIleOzASNWxPa1wbnAEvA9E"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script> 
    
    <script src="../js/script.js"></script> 
    
    <link rel="stylesheet" href="style.css"/>
    
    <style>
    	#continentMap { height: 900px }
    	#usersMap { height: 900px }
    	#usersIdpMap { height: 900px } 
    	
    	.donut_histogram {
           height: 500px
        }
    	
/* /*     	.donut-legend > span {
/* 		  display: inline-block; */
		  margin-right: 25px;
		  margin-bottom: 10px;
		  font-size: 13px;
		  height: 500px
		} */ */

    </style>
    
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-home fa-fw"></i>ESGF Console</a>
            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Statistics overview</a>
                        </li>
                        <li>
                            <a href="cross-project.html"><i class="fa fa-bar-chart-o  fa-fw"></i> Cross-project statistics</a>
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-th-list fa-fw"></i> Project-specific statistics<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">                          
                                <li>
                                    <a href="cmip5.html"><i class="fa fa-files-o  fa-fw"></i> CMIP5 project</a>
                                </li>
<!--                                 <li>
                                    <a href="cordex.html"><i class="fa fa-files-o  fa-fw"></i> CORDEX project</a>
                                </li> -->
                                <li>
                                    <a href="obs4mips.html"><i class="fa fa-files-o  fa-fw"></i> Obs4MIPs project</a>
                                </li>
                            </ul>
                        </li>
                        
<!--                          <li>
                            <a href="clients-stats.html"><i class="fa fa-desktop  fa-fw"></i> Clients statistics</a>
                        </li> -->
                        
<!--                         <li>
                            <a href="historical.html"><i class="fa fa-bar-chart-o  fa-fw"></i> Historical data usage statistics</a>
                        </li> -->
                        
                        <li>
                            <a href="data-archive.html"><i class="fa fa-archive  fa-fw"></i> Federated data archive</a>
                        </li>
                        <li>
                            <a href="isenes-kpi.html"><i class="fa fa-bar-chart-o  fa-fw"></i> IS-ENES2 KPIs</a>
                        </li>
                        
<!--                          <li>
                            <a href="service-status.html"><i class="fa fa-sitemap  fa-fw"></i> Service status</a>
                        </li> -->

<!--                         
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul><!--
                        </li> 
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                        </li> -->
                  <!--      <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li> 
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper" data-ng-app="">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Statistics Overview</h1>
                </div>
            </div>
            <div class="row" data-ng-controller="dataArchiveController">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-archive fa-5x"></i>
                                </div>
                                <div class="col-xs-12 text-right">
                                    <div class="huge">ESGF total number of datasets</div>
                                    <div class="huge" id="datasetsPanel"></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-12 text-right">
                                    <div class="huge">ESGF total data volume</div>
                                    <div class="huge" id="sizePanel"></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
             </div>
             <div data-ng-controller="cmip5dataArchiveController">
                              
	             <div class="col-lg-4 col-md-6">
	                 <div class="panel panel-primary">
	                     <div class="panel-heading">
	                         <div class="row">
	                             <div class="col-xs-3">
	                                 <i class="fa fa-archive fa-5x"></i>
	                             </div>
	                             <div class="col-xs-9 text-right">
	                                 <div class="huge" id="cmip5datasetsPanel"></div>
	                                 <div class="huge2">CMIP5 total number of datasets</div>
	                             </div>
	                         </div>
	                     </div>
	                     <a href="prova1.html">
	                         <div class="panel-footer">
	                             <span class="pull-left">View Details</span>
	                             <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                             <div class="clearfix"></div>
	                         </div>
	                     </a>
	                 </div>
	                 <div class="panel panel-primary">
	                     <div class="panel-heading">
	                         <div class="row">
	                             <div class="col-xs-3">
	                                 <i class="fa fa-tasks fa-5x"></i>
	                             </div>
	                             <div class="col-xs-9 text-right">
	                                 <div class="huge" id="cmip5sizePanel"></div>
	                                 <div class="huge2">CMIP5 total data volume</div>
	                             </div>
	                         </div>
	                     </div>
	                     <a href="prova1.html">
	                         <div class="panel-footer">
	                             <span class="pull-left">View Details</span>
	                             <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                             <div class="clearfix"></div>
	                         </div>
	                     </a>
	                  </div>
	              </div>
	           </div>
	              
	           <div data-ng-controller="obs4mipsdataArchiveController">

	              <div class="col-lg-4 col-md-6">
	                  <div class="panel panel-red">
	                      <div class="panel-heading">
	                          <div class="row">
	                              <div class="col-xs-3">
	                                  <i class="fa fa-archive fa-5x"></i>
	                              </div>
	                              <div class="col-xs-9 text-right">
	                                  <div class="huge" id="obs4mipsdatasetsPanel"></div>
	                                  <div class="huge2">Obs4MIPs total number of datasets</div>
	                              </div>
	                          </div>
	                      </div>
	                      <a href="#">
	                          <div class="panel-footer">
	                              <span class="pull-left">View Details</span>
	                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                              <div class="clearfix"></div>
	                          </div>
	                      </a>
	                  </div>
	                  <div class="panel panel-red">
	                      <div class="panel-heading">
	                          <div class="row">
	                              <div class="col-xs-3">
	                                  <i class="fa fa-tasks fa-5x"></i>
	                              </div>
	                              <div class="col-xs-9 text-right">
	                                  <div class="huge" id="obs4mipssizePanel"></div>
	                                  <div class="huge2">Obs4MIPs total data volume</div>
	                              </div>
	                          </div>
	                      </div>
	                      <a href="#">
	                          <div class="panel-footer">
	                              <span class="pull-left">View Details</span>
	                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                              <div class="clearfix"></div>
	                          </div>
	                      </a>
	                  </div>
	              </div>
	              
	           </div>
	           
	           <div data-ng-controller="cordexdataArchiveController">
	              
	              <div class="col-lg-4 col-md-6">
	                  <div class="panel panel-yellow">
	                      <div class="panel-heading">
	                          <div class="row">
	                              <div class="col-xs-3">
	                                  <i class="fa fa-archive fa-5x"></i>
	                              </div>
	                              <div class="col-xs-9 text-right">
	                                  <div class="huge" id="cordexdatasetsPanel"></div>
	                                  <div class="huge2">CORDEX total number of datasets</div>
	                              </div>
	                          </div>
	                      </div>
	                      <a href="#">
	                          <div class="panel-footer">
	                              <span class="pull-left">View Details</span>
	                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                              <div class="clearfix"></div>
	                          </div>
	                      </a>
	                  </div>
	                  <div class="panel panel-yellow">
	                      <div class="panel-heading">
	                          <div class="row">
	                              <div class="col-xs-3">
	                                  <i class="fa fa-tasks fa-5x"></i>
	                              </div>
	                              <div class="col-xs-9 text-right">
	                                  <div class="huge" id="cordexsizePanel"></div>
	                                  <div class="huge2">CORDEX total data volume</div>
	                              </div>
	                          </div>
	                      </div>
	                      <a href="#">
	                          <div class="panel-footer">
	                              <span class="pull-left">View Details</span>
	                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                              <div class="clearfix"></div>
	                          </div>
	                      </a>
	                  </div>
	              </div>	              
	           </div>
	           
<!-- 	           <div class="row">               
	              <div class="col-lg-6">
	                  <div class="panel panel-primary">
	                      <div class="panel-heading">
	                          <i class="fa fa-bar-chart-o fa-fw"></i> Users per Project
	                      </div>
	                      <div class="panel-body" data-ng-controller="usersDonutController">
	                      	  <div class="col-lg-8 col-md-8">	
	                          	<div id="morris-donut-chart" class="donut_histogram"></div>
	                          </div>	
	                          <div class="col-lg-4 col-md-4">
	                          	<div id="legend" class="donut-legend"></div>
							  </div>
	                      </div>
	                  </div>
	           	  </div> 
	           	  <div class="col-lg-6">
	                  <div class="panel panel-primary">
	                      <div class="panel-heading">
	                          <i class="fa fa-bar-chart-o fa-fw"></i> Users per Project (Log scale)
	                      </div>
	                      <div class="panel-body" data-ng-controller="usersHistogramController">
 	                      	  <div>	
	                          	<div id="usersHistogram" class="donut_histogram"></div>
	                          </div>	
	                      </div>
	                  </div>
	           	  </div> 
	           </div>    -->
	           	  
<!-- 	           <div class="row">	  
	              <div class="col-lg-6">
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            <i class="fa fa-bar-chart-o fa-fw"></i> Number of Downloads per Project
	                        </div>
	                        <div class="panel-body" data-ng-controller="downloadsDonutController">
	                      	  <div class="col-lg-8 col-md-8">	
	                          	<div id="morris-donut-chart2" class="donut_histogram"></div>
	                          </div>	
	                          <div class="col-lg-4 col-md-4">
	                          	<div id="legend2" class="donut-legend"></div>
							  </div>
	                        </div>
	                    </div>
	             </div>
	             <div class="col-lg-6">
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            <i class="fa fa-bar-chart-o fa-fw"></i> Number of Downloads per Project (Log scale)
	                        </div>
	                        <div class="panel-body" data-ng-controller="downloadsHistogramController">
 	                      	    <div>	
	                          	   <div id="downloadsHistogram" class="donut_histogram"></div>
	                            </div>	
	                        </div>
	                    </div>
	             </div> 
            </div> -->
            
<!--             <div class="row">               
	              <div class="col-lg-6">
	                  <div class="panel panel-primary">
	                      <div class="panel-heading">
	                          <i class="fa fa-bar-chart-o fa-fw"></i> Downloaded data volume [PB] per project 
	                      </div>
	                      <div class="panel-body" data-ng-controller="dataVolumeDonutController">
	                      	  <div class="col-lg-8 col-md-8">	
	                          	<div id="morris-donut-chart3" class="donut_histogram"></div>
	                          </div>	
	                          <div class="col-lg-4 col-md-4">
	                          	<div id="legend3" class="donut-legend"></div>
							  </div>
	                      </div>
	                  </div>
	           	  </div> 
	           	  <div class="col-lg-6">
	                  <div class="panel panel-primary">
	                      <div class="panel-heading">
	                          <i class="fa fa-bar-chart-o fa-fw"></i> Downloaded data volume [PB] per project (Histogram)
	                      </div>
	                      <div class="panel-body" data-ng-controller="dataVolumeHistogramController">
 	                      	  <div>	
	                          	<div id="dataVolumeHistogram" class="donut_histogram"></div>
	                          </div>	
	                      </div>
	                  </div>
	           	  </div> 
	       </div>   -->
                       
<!--            <div class="row" >       
           
                  <div class="col-lg-12" data-ng-controller="downloadsController">
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Number of Downloads by Continent
                        </div>
                        <div class="panel-body">
                            <div id="continentMap"></div>
                        </div>
                    </div>
                    
	 	            <div class="col-lg-4 col-md-4">

	                        <div class="panel-body" style="height: 500px" >
	                        	<table class="table table-fixed4">
	                                   <thead>
	                                       <tr class="info">
	                                           <th class="col-xs-8">North America</th>
	                                           <th class="col-xs-4" id="totalDownloadsNA"></th>
	                                       </tr>
	                                   </thead>
	                                   <tbody>
	                                   	<tr ng-repeat="a in northAmericaRows">
	                                   	    <td class="col-xs-8">{{a.code}}</td>
	                                   		<td class="col-xs-4">{{a.downloads}}</td>
	                                   	</tr>
	                                   </tbody>
	                            </table>
	                        </div>
	                </div>
	                <div class="col-lg-4 col-md-4">

	                        <div class="panel-body" style="height: 500px" >
	                        	<table class="table table-fixed4">
	                                   <thead>
	                                       <tr class="info">
	                                           <th class="col-xs-8">Africa</th>
	                                           <th class="col-xs-4" id="totalDownloadsAF"></th>
	                                       </tr>
	                                   </thead>
	                                   <tbody id="datasetTable">
	                                   	<tr ng-repeat="a in africaRows">
	                                   	    <td class="col-xs-8">{{a.code}}</td>
	                                   		<td class="col-xs-4">{{a.downloads}}</td>
	                                   	</tr>
	                                   </tbody>
	                             </table>
	                        </div>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                        <div class="panel-body" style="height: 500px" >
	                        	<table class="table table-fixed4">
	                                   <thead>
	                                       <tr class="info">
	                                           <th class="col-xs-8">Europe</th>
	                                           <th class="col-xs-4" id="totalDownloadsEU"></th>
	                                       </tr>
	                                   </thead>
	                                   <tbody>
	                                   	<tr ng-repeat="a in europeRows">
	                                   	    <td class="col-xs-8">{{a.code}}</td>
	                                   		<td class="col-xs-4">{{a.downloads}}</td>
	                                   	</tr>
	                                   </tbody>
	                             </table>
	                        </div>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                        <div class="panel-body" style="height: 500px" >
	                        	<table class="table table-fixed4">
	                                   <thead>
	                                       <tr class="info">
	                                           <th class="col-xs-8">South America</th>
	                                           <th class="col-xs-4" id="totalDownloadsSA"></th>
	                                       </tr>
	                                   </thead>
	                                   <tbody>
	                                   	<tr ng-repeat="a in southAmericaRows">
	                                   	    <td class="col-xs-8">{{a.code}}</td>
	                                   		<td class="col-xs-4">{{a.downloads}}</td>
	                                   	</tr>
	                                   </tbody>
	                             </table>
	                        </div>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                        <div class="panel-body" style="height: 500px" >
	                        	<table class="table table-fixed4">
	                                   <thead>
	                                       <tr class="info">
	                                           <th class="col-xs-8">Asia</th>
	                                           <th class="col-xs-4" id="totalDownloadsAS"></th>
	                                       </tr>
	                                   </thead>
	                                   <tbody>
	                                   	<tr ng-repeat="a in asiaRows">
	                                   	    <td class="col-xs-8">{{a.code}}</td>
	                                   		<td class="col-xs-4">{{a.downloads}}</td>
	                                   	</tr>
	                                   </tbody>
	                             </table>
	                        </div>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                        <div class="panel-body" style="height: 500px" >
	                        	<table class="table table-fixed4">
	                                   <thead>
	                                       <tr class="info">
	                                           <th class="col-xs-8">Oceania</th>
	                                           <th class="col-xs-4" id="totalDownloadsOC"></th>
	                                       </tr>
	                                   </thead>
	                                   <tbody>
	                                   	<tr ng-repeat="a in oceaniaRows">
	                                   	    <td class="col-xs-8">{{a.code}}</td>
	                                   		<td class="col-xs-4">{{a.downloads}}</td>
	                                   	</tr>
	                                   </tbody>
	                             </table>
	                        </div>
	                </div>
                </div>

 	 	        <div class="row" data-ng-controller="usersController">
	                <div class="col-lg-12">
	                    <br>
                		<br>
                		<br>
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            <i class="fa fa-bar-chart-o fa-fw"></i> Users by Continent
	                        </div>
	                        <div class="panel-body">
	                            <div id="usersMap"></div>
	                        </div>
	                    </div>
	                    
		 	            <div class="col-lg-4 col-md-4">
		                    <div class="panel panel-primary">
		                        <div class="panel-heading">
		                            <i class="fa fa-files-o fa-fw"></i> North America
		                        </div>
		                        <div class="panel-body" style="height: 500px" >
		                        	<table class="table table-fixed4">
		                                   <thead>
		                                       <tr class="info">
		                                           <th class="col-xs-8">North America</th>
		                                           <th class="col-xs-4" id="totalUsersNA"></th>
		                                       </tr>
		                                   </thead>
		                                   <tbody>
		                                   	<tr ng-repeat="a in northAmericaUsersRows">
		                                   	    <td class="col-xs-8">{{a.code}}</td>
		                                   		<td class="col-xs-4">{{a.users}}</td>
		                                   	</tr>
		                                   </tbody>
		                            </table>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-4 col-md-4">
		                    <div class="panel panel-primary">totalUsersNA
		                        <div class="panel-heading">
		                            <i class="fa fa-files-o fa-fw"></i> Africa
		                        </div>
		                        <div class="panel-body" style="height: 500px" >
		                        	<table class="table table-fixed4">
		                                   <thead>
		                                       <tr class="info">
		                                           <th class="col-xs-8">Africa</th>
		                                           <th class="col-xs-4" id="totalUsersAF"></th>
		                                       </tr>
		                                   </thead>
		                                   <tbody id="datasetTable">
		                                   	<tr ng-repeat="a in africaUsersRows">
		                                   	    <td class="col-xs-8">{{a.code}}</td>
		                                   		<td class="col-xs-4">{{a.users}}</td>
		                                   	</tr>
		                                   </tbody>
		                             </table>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-4 col-md-4">
	 	                    <div class="panel panel-primary">
		                        <div class="panel-heading">
		                            <i class="fa fa-files-o fa-fw"></i> Europe
		                        </div>
		                        <div class="panel-body" style="height: 500px" >
		                        	<table class="table table-fixed4">
		                                   <thead>
		                                       <tr class="info">
		                                           <th class="col-xs-8">Europe</th>
		                                           <th class="col-xs-4" id="totalUsersEU"></th>
		                                       </tr>
		                                   </thead>
		                                   <tbody>
		                                   	<tr ng-repeat="a in europeUsersRows">
		                                   	    <td class="col-xs-8">{{a.code}}</td>
		                                   		<td class="col-xs-4">{{a.users}}</td>
		                                   	</tr>
		                                   </tbody>
		                             </table>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-4 col-md-4">
		                    <div class="panel panel-primary">
		                        <div class="panel-heading">
		                            <i class="fa fa-files-o fa-fw"></i> South America
		                        </div>
		                        <div class="panel-body" style="height: 500px" >
		                        	<table class="table table-fixed4">
		                                   <thead>
		                                       <tr class="info">
		                                           <th class="col-xs-8">South America</th>
		                                           <th class="col-xs-4" id="totalUsersSA"></th>
		                                       </tr>
		                                   </thead>
		                                   <tbody>
		                                   	<tr ng-repeat="a in southAmericaUsersRows">
		                                   	    <td class="col-xs-8">{{a.code}}</td>
		                                   		<td class="col-xs-4">{{a.users}}</td>
		                                   	</tr>
		                                   </tbody>
		                             </table>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-4 col-md-4">
		                    <div class="panel panel-primary">
		                        <div class="panel-heading">
		                            <i class="fa fa-files-o fa-fw"></i> Asia
		                        </div>
		                        <div class="panel-body" style="height: 500px" >
		                        	<table class="table table-fixed4">
		                                   <thead>
		                                       <tr class="info">
		                                           <th class="col-xs-8">Asia</th>
		                                           <th class="col-xs-4" id="totalUsersAS"></th>
		                                       </tr>
		                                   </thead>
		                                   <tbody>
		                                   	<tr ng-repeat="a in asiaUsersRows">
		                                   	    <td class="col-xs-8">{{a.code}}</td>
		                                   		<td class="col-xs-4">{{a.users}}</td>
		                                   	</tr>
		                                   </tbody>
		                             </table>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-4 col-md-4">
		                    <div class="panel panel-primary">
		                        <div class="panel-heading">
		                            <i class="fa fa-files-o fa-fw"></i> Oceania
		                        </div>
		                        <div class="panel-body" style="height: 500px" >
		                        	<table class="table table-fixed4">
		                                   <thead>
		                                       <tr class="info">
		                                           <th class="col-xs-8">Oceania</th>
		                                           <th class="col-xs-4" id="totalUsersOC"></th>
		                                       </tr>
		                                   </thead>
		                                   <tbody>
		                                   	<tr ng-repeat="a in oceaniaUsersRows">
		                                   	    <td class="col-xs-8">{{a.code}}</td>
		                                   		<td class="col-xs-4">{{a.users}}</td>
		                                   	</tr>
		                                   </tbody>
		                             </table>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-4 col-md-4">
		                    <div class="panel panel-primary">
		                        <div class="panel-heading">
		                            <i class="fa fa-files-o fa-fw"></i> Not recognized
		                        </div>
		                        <div class="panel-body" style="height: 500px" >
		                        	<table class="table table-fixed4">
		                                   <thead>
		                                       <tr class="info">
		                                           <th class="col-xs-8">Not recognized</th>
		                                           <th class="col-xs-4" id="totalUsersNorRecognized"></th>
		                                       </tr>
		                                   </thead>
		                                   <tbody>
		                                   	<tr ng-repeat="a in notRecognizedUsersRows">
		                                   	    <td class="col-xs-8">{{a.code}}</td>
		                                   		<td class="col-xs-4">{{a.downloads}}</td>
		                                   	</tr>
		                                   </tbody>
		                             </table>
		                        </div>
		                    </div>
		                </div>
	                </div>    
	            </div>
	            
	            <div class="row" data-ng-controller="usersByIdpController">
	                <div class="col-lg-12">
	                    <br>
                		<br>
                		<br>
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            <i class="fa fa-bar-chart-o fa-fw"></i> Registered Users by IdP
	                        </div>
	                        <div class="panel-body">
	                            <div id="usersIdpMap"></div>
	                        </div>
	                    </div>
	                 </div>
	            </div>
	          </div>   -->        
    </div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
