category=WEB
ESGF.org=http://esgf.org
ESGFWiki=http://esgf.org/wiki
ESGFAskBot=http://esgf.askbot.com
category=IMAGE
Image01=http://www.focus.it/Allegati/2013/2/mdis_global_enhancedcolor_map_rot_140globebright_809416.jpg
Image02=http://www.focus.it/Allegati/2013/4/giove_1139461.jpg
Image03=http://www.focus.it/Allegati/2013/4/nasa_734501main_v838_hubble_cropped_1600-1200_1138019.jpg
Image04=http://blog.focus.it/una-finestra-sull-universo/files/2013/04/Pan-STARRS_M31.jpg
category=VIDEO
ESGF Overview=http://www.youtube.com/embed/6-bcWSfbfYU
Tutorial CreateAccount=http://www.youtube.com/embed/W8OgdW40HVQ
Tutorial ForgotOpenID=http://www.youtube.com/embed/WKP9eMGLP8s
Tutorial Search=http://www.youtube.com/embed/rlNUzcL3pqM
Earth HD from ISS=http://www.youtube.com/embed/Ip2ZGND1I9Q
category=TWITTER
ESGF=twitter.html
